
.jsmart5_table_%s {
	border: 1px solid @border@;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
			border-radius: 5px;
}

.jsmart5_table_%s_head, .jsmart5_table_%s_foot {
	
}

.jsmart5_table_%s_head_sort_filter_up, .jsmart5_table_%s_head_sort_up, .jsmart5_table_%s_head_selected_sort_filter_up, .jsmart5_table_%s_head_selected_sort_up, .jsmart5_table_%s_head_sort_filter_down, .jsmart5_table_%s_head_sort_down, .jsmart5_table_%s_head_selected_sort_filter_down, .jsmart5_table_%s_head_selected_sort_down {
	width: 0px; 
	height: 0px; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid @arrow@;
	margin-left: 5px;
	margin-top: 5px; 
	cursor: pointer;
}

.jsmart5_table_%s_head_sort_up, .jsmart5_table_%s_head_selected_sort_up {
	margin-left: 0px;
	margin-top: 1px;
}

.jsmart5_table_%s_head_sort_down, .jsmart5_table_%s_head_selected_sort_down {
	margin-left: 0px;
	margin-top: 5px;
}

.jsmart5_table_%s_head_sort_filter_down, .jsmart5_table_%s_head_sort_down, .jsmart5_table_%s_head_selected_sort_filter_down, .jsmart5_table_%s_head_selected_sort_down {
	border-bottom: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid @arrow@;
}

.jsmart5_table_%s_head_selected_sort_filter_down, .jsmart5_table_%s_head_selected_sort_down {
	border-top: 5px solid @arrowselect@;
}

.jsmart5_table_%s_head_selected_sort_filter_up, .jsmart5_table_%s_head_selected_sort_up {
	border-bottom: 5px solid @arrowselect@;
}

.jsmart5_table_%s_head_row, .jsmart5_table_%s_foot_row {
	border-bottom: 1px solid @border@;
	background-color: @bckg@;
}

.jsmart5_table_%s_head_row>th, .jsmart5_table_%s_foot_row>td {
	height: 35px;
	padding: 0px 15px;
	font-family: Arial;
	font-weight: normal;
	font-size: 15px;
	color: @font@;
}

.jsmart5_table_%s_foot_row>td {
	border-bottom: none;
	border-top: 1px solid @border@;
}

.jsmart5_table_%s_head_row_column, .jsmart5_table_%s_foot_row_column {
	width: 115px;
	text-align: center;
}

.jsmart5_table_%s_head_multi_select_column, .jsmart5_table_%s_foot_multi_select_column, .jsmart5_table_%s_head_edit_cell_column, .jsmart5_table_%s_foot_edit_cell_column {
	width: 20px;
}

.jsmart5_table_%s_head_row>th:first-child {
	-webkit-border-radius: 5px 0px 0px 0px;
	   -moz-border-radius: 5px 0px 0px 0px;
			border-radius: 5px 0px 0px 0px;
}

.jsmart5_table_%s_head_row>th:last-child {
	-webkit-border-radius: 0px 5px 0px 0px;
	   -moz-border-radius: 0px 5px 0px 0px;
			border-radius: 0px 5px 0px 0px;
}

.jsmart5_table_%s_foot_row>td:first-child {
	-webkit-border-radius: 0px 0px 0px 5px;
	   -moz-border-radius: 0px 0px 0px 5px;
			border-radius: 0px 0px 0px 5px;
}

.jsmart5_table_%s_foot_row>td:last-child {
	-webkit-border-radius: 0px 0px 5px 0px;
	   -moz-border-radius: 0px 0px 5px 0px;
			border-radius: 0px 0px 5px 0px;
}

.jsmart5_table_%s_edit_cell_start, .jsmart5_table_%s_edit_cell_confirm, .jsmart5_table_%s_edit_cell_cancel {
	height: 12px;
	width: 12px;
	margin-left: 15px;
	cursor: pointer;
	background: url('@image@') no-repeat;
	background-position: -25px -56px;
}

.jsmart5_table_%s_edit_cell_confirm {
	display: none;
	margin-left: 8px;
	background-position: -39px -57px;
}

.jsmart5_table_%s_edit_cell_cancel {
	display: none;
	margin-left: 8px;
	background-position: -11px -56px;
}

.jsmart5_table_%s_body {

}

.jsmart5_table_%s_body_empty {
	height: 180px;
	text-align: center; 
	border-top: 1px solid @border@;
	background-color: @bckgsoft@;
}

.jsmart5_table_%s_column, .jsmart5_table_%s_multi_select_column, .jsmart5_table_%s_cell_edit_column {
	height: 28px;
	border-collapse: collapse;
	text-align: center;
	border-top: 1px solid @bordersoft@;
}

.jsmart5_table_%s_multi_select_column {
	padding: 0px 15px;
}

.jsmart5_table_%s_row, .jsmart5_table_%s_row_selection {
	background-color: @bckgsoft@;
}

.jsmart5_table_%s_row_nth, .jsmart5_table_%s_row_selection_nth {
    background-color: @bckgsoft@;
}

.jsmart5_table_%s_row_selection:hover, .jsmart5_table_%s_row_selection_nth:hover {
	background-color: @bckghover@;
}

.jsmart5_table_%s_row_column_expanded {
	background-color: @bckgstrong@;
    border-collapse: collapse;
}

.jsmart5_table_%s_row_selection, .jsmart5_table_%s_row_selection_nth {
	cursor: pointer;
}

.jsmart5_table_%s_page_header {
	padding-bottom: 10px;
	text-align: center;
	border-left-style: hidden;
	border-top-style: hidden;
	border-right-style: hidden;
}

.jsmart5_table_%s_page_footer {
	padding-top: 10px;
	text-align: center;
	border-left-style: hidden;
	border-bottom-style: hidden;
	border-right-style: hidden;
	border-right: 0px solid hidden;
}

.jsmart5_table_%s_page_index {
	cursor: pointer;
	color: inherit;
}

.jsmart5_table_%s_page_index_active {
	cursor: pointer;
	font-weight: bold;
	color: @fontstrong@;
}

.jsmart5_table_%s_page_first, .jsmart5_table_%s_page_prev, .jsmart5_table_%s_page_next, .jsmart5_table_%s_page_last {
	width: 24px;
	height: 22px;
	cursor: pointer;
	display: inline-block;
	background: url('@image@') no-repeat;
}

.jsmart5_table_%s_page_first {
	background-position: -1px -67px;
}

.jsmart5_table_%s_page_prev {
	background-position: -27px -67px;
}

.jsmart5_table_%s_page_next {
	background-position: -1px -90px;
}

.jsmart5_table_%s_page_last {
	background-position: -27px -90px;
}

.jsmart5_table_%s_page_span {
	display: inline-flex;
	text-align: center;
}

.jsmart5_auto_complete_%s_list {
	display: none;
	position: absolute;
	z-index: 100;
	border: solid 1px #a3a3a3;
	background: #ffffff;
	-webkit-border-radius: 3px;
  	   -moz-border-radius: 3px;
	   		border-radius: 3px;
}

.jsmart5_auto_complete_%s_list:focus {
	cursor: pointer;
}

.jsmart5_auto_complete_%s_list>ul {
	margin: 4px 0px;
	outline: none;
	list-style: none outside none;
	overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
}

.jsmart5_auto_complete_%s_list>ul li {
	padding: 0px 5px;
	width: 100%;
	text-align: left;
}

.jsmart5_auto_complete_%s_list>ul li:hover {
	background-color: @bckghover@;
}

.jsmart5_menu_%s_horizontal, .jsmart5_menu_%s_vertical, .jsmart5_menu_%s_horizontal ul, .jsmart5_menu_%s_vertical ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	list-style: none outside none;
    background-color: @bckg@;
	border: 1px solid @border@;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	-ms-border-radius: 4px;
    	    border-radius: 4px;
}

.jsmart5_menu_%s_horizontal ul, .jsmart5_menu_%s_vertical ul {
	border: 1px solid #a3a3a3;
}

.jsmart5_menu_%s_horizontal>li {
	float: left;
}

.jsmart5_menu_%s_horizontal>li a, .jsmart5_menu_%s_vertical>li a {
	color: @font@;
	text-decoration: none;
}

.jsmart5_menu_%s_horizontal>li a:hover, .jsmart5_menu_%s_vertical>li a:hover {
	text-decoration: none;
}

.jsmart5_menu_%s_horizontal ul, .jsmart5_menu_%s_vertical ul {
	display: none;
	position: absolute;
	background: @bckgsoft@;
}

.jsmart5_menu_%s_horizontal ul li, .jsmart5_menu_%s_vertical ul li {
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
       	-ms-border-radius: 2px;
    	    border-radius: 2px;
}

.jsmart5_menu_%s_horizontal ul li:hover, .jsmart5_menu_%s_vertical ul li:hover {
	background-color: @bckghover@;
}

.jsmart5_menu_%s_horizontal ul li a, .jsmart5_menu_%s_vertical ul li a {
	margin: 4px;
	width: 100%;
	height: 100%;
	color: inherit;
}

.jsmart5_menu_%s_vertical {
	display: block;
	width: 150px;
	float: left;
}

.jsmart5_menu_%s_item, .jsmart5_menu_%s_item_left, .jsmart5_menu_%s_item_right {
	width: 150px;
	height: 31px;
	line-height: 2.1em;
	text-align: center;
}

.jsmart5_menu_%s_item_left {
	text-align: left;
	padding-left: 10px;
}

.jsmart5_menu_%s_item_right {
	text-align: right;
	padding-right: 10px;
}

.jsmart5_menu_%s_arrow_up, .jsmart5_menu_%s_arrow_down, .jsmart5_menu_%s_arrow_left, .jsmart5_menu_%s_arrow_right, .jsmart5_menu_%s_item_arrow_left, .jsmart5_menu_%s_item_arrow_right {
	width: 0px; 
	height: 0px; 
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 2px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid @arrow@;
	cursor: pointer;
}

.jsmart5_menu_%s_arrow_down {
	border-bottom: 0px;
	border-top: 5px solid @arrow@;
}

.jsmart5_menu_%s_arrow_left, .jsmart5_menu_%s_arrow_right, .jsmart5_menu_%s_item_arrow_left, .jsmart5_menu_%s_item_arrow_right {
	float: right;
	margin-top: 10px; 
	margin-right: 4px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #a3a3a3;
}

.jsmart5_menu_%s_arrow_right, .jsmart5_menu_%s_item_arrow_right {
	float: left;
	margin-left: 4px;
	margin-right: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid #a3a3a3;
}

.jsmart5_menu_%s_arrow_right {
	border-right: 5px solid @arrow@;
}

.jsmart5_menu_%s_arrow_left {
	border-left: 5px solid @arrow@;
}

.jsmart5_tabs_%s {
	display: inline-block;
	width: 100%;
}

.jsmart5_tabs_%s_ul_horizontal, .jsmart5_tabs_%s_ul_vertical {
	display: inline-block;
	list-style: none outside none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.jsmart5_tabs_%s_ul_vertical {
	display: block;
	width: 160px;
	float: left;
}

.jsmart5_tabs_%s_li_top, .jsmart5_tabs_%s_li_bottom, .jsmart5_tabs_%s_li_left, .jsmart5_tabs_%s_li_right {
	width: 160px;
	height: 30px;
	margin: 0px;
	cursor: pointer;
	border: 1px solid @border@;
	line-height: 2em;
	text-align: center;
	float: left;
	color: @font@;
	background-color: @bckg@;
}

.jsmart5_tabs_%s_li_left, .jsmart5_tabs_%s_li_right {
	height: 35px;
}

.jsmart5_tabs_%s_li_top {
	border: 1px solid @border@;
	-webkit-border-radius: 4px 4px 0px 0px;
       -moz-border-radius: 4px 4px 0px 0px;
    	    border-radius: 4px 4px 0px 0px;
}

.jsmart5_tabs_%s_li_left {
	border: 1px solid @border@;
	-webkit-border-radius: 4px 0px 0px 4px;
       -moz-border-radius: 4px 0px 0px 4px;
    	    border-radius: 4px 0px 0px 4px;
}

.jsmart5_tabs_%s_li_bottom {
	border: 1px solid @border@;
	-webkit-border-radius: 0px 0px 4px 4px;
       -moz-border-radius: 0px 0px 4px 4px;
    	    border-radius: 0px 0px 4px 4px;
}

.jsmart5_tabs_%s_li_right {
	border: 1px solid @border@;
	-webkit-border-radius: 0px 4px 4px 0px;
       -moz-border-radius: 0px 4px 4px 0px;
    	    border-radius: 0px 4px 4px 0px;
}

.jsmart5_tabs_%s_li_top[active=true] {
	border: 1px solid @border@;
	border-bottom-color: transparent;
	background: none;
	background-color: @bckgsoft@;
	color: @fontstrong@;
}

.jsmart5_tabs_%s_li_bottom[active=true] {
	border: 1px solid @border@;
	border-top-color: transparent;
	background: none;
	background-color: @bckgsoft@;
	color: @fontstrong@;
}

.jsmart5_tabs_%s_li_left[active=true] {
	border: 1px solid @border@;
	border-right-color: transparent;
	background: none;
	background-color: @bckgsoft@;
	color: @fontstrong@;
}

.jsmart5_tabs_%s_li_right[active=true] {
	border: 1px solid @border@;
	border-left-color: transparent;
	background: none;
	background-color: @bckgsoft@;
	color: @fontstrong@;
}

.jsmart5_tab_%s_content_top, .jsmart5_tab_%s_content_left, .jsmart5_tab_%s_content_bottom, .jsmart5_tab_%s_content_right {
	height: auto;
	min-height: 158px;
	padding: 1em 1em;
	border: 1px solid @border@;
	background-color: @bckgsoft@;
}

.jsmart5_tab_%s_content_left, .jsmart5_tab_%s_content_right {
	float: left;
	width: 500px;
}

.jsmart5_tab_%s_content_top, .jsmart5_tab_%s_content_left {
	-webkit-border-radius: 0px 4px 4px 4px;
       -moz-border-radius: 0px 4px 4px 4px;
    	    border-radius: 0px 4px 4px 4px;
}

.jsmart5_tab_%s_content_top {
	margin-top: -1px;
}

.jsmart5_tab_%s_content_bottom {
	margin-bottom: -1px;
	-webkit-border-radius: 4px 4px 4px 0px;
       -moz-border-radius: 4px 4px 4px 0px;
    	    border-radius: 4px 4px 4px 0px;
}

.jsmart5_tab_%s_content_right {
	margin-right: -1px;
	-webkit-border-radius: 4px 0px 4px 4px;
       -moz-border-radius: 4px 0px 4px 4px;
    	    border-radius: 4px 0px 4px 4px;
}

.jsmart5_tab_%s_content_left {
	margin-left: 2px;
}

.jsmart5_button_%s_group {
	display: inline-block;
}

.jsmart5_button_%s, .jsmart5_button_%s_default, .jsmart5_button_%s_dropdown {
	min-width: 110px;
	min-height: 34px;
    padding: 7px 11px;
	font-size: 15px;
	cursor: pointer;
	color: @font@;
	background-color: @bckg@;
    border: 1px solid @border@;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.jsmart5_button_%s[disabled="disabled"], .jsmart5_button_%s_default[disabled="disabled"], .jsmart5_button_%s_dropdown[disabled="disabled"] {
	border: 1px solid @borderdisabled@;
	background-color: @bckgdisabled@;
}

.jsmart5_button_%s_image {
	font-size: 15px;
	cursor: pointer;
}

.jsmart5_button_%s_icon {
	margin-right: 7px;	
}

.jsmart5_button_%s:active {
	
}

.jsmart5_button_%s_default, .jsmart5_button_%s_default[disabled="disabled"] {
	border-right: none;
	-webkit-border-radius: 5px 0px 0px 5px;
	   -moz-border-radius: 5px 0px 0px 5px;
	        border-radius: 5px 0px 0px 5px;
}

.jsmart5_button_%s_dropdown, .jsmart5_button_%s_dropdown[disabled="disabled"] {
	width: 28px;
	min-width: 0px;
	margin: 0px;
	margin-left: -2px;
	padding: 7px 0px 7px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	   -moz-border-radius: 0px 5px 5px 0px;
	        border-radius: 0px 5px 5px 0px;
}

.jsmart5_button_%s_dropdown_arrow {
	width: 0px;
	height: 0px; 
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid @arrow@;
	border-bottom: 0px;
	cursor: pointer;
}

.jsmart5_button_%s_dropdown_list {
	margin: 0px;
	padding: 0px;
	display: none;
	position: absolute;
	background: @bckgsoft@;
	list-style: none outside none;
	border: 1px solid #a3a3a3;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	-ms-border-radius: 4px;
    	    border-radius: 4px;
}

.jsmart5_button_%s_dropdown_list li {
	width: 150px;
	height: 31px;
	line-height: 2.1em;
	text-align: left;
	padding-left: 10px;
}

.jsmart5_button_%s_dropdown_list li:hover {
	background-color: @bckghover@;
}

.jsmart5_button_%s_dropdown_list li a {
	cursor: pointer;
	margin: 4px;
	width: 100%;
	height: 100%;
	color: inherit;
}

.jsmart5_button_%s_group_item {
	margin: 0px -2px 0px -2px;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
}

.jsmart5_button_%s_group_horizontal {
	display: inline-flex;
}

.jsmart5_button_%s_group_horizontal>button:first-child {
	margin: 0px -3px 0px 0px;
	-webkit-border-radius: 5px 0px 0px 5px;
	   -moz-border-radius: 5px 0px 0px 5px;
	        border-radius: 5px 0px 0px 5px;
}

.jsmart5_button_%s_group_horizontal>button:last-child {
	margin: 0px 0px 0px -3px;
	-webkit-border-radius: 0px 5px 5px 0px;
	   -moz-border-radius: 0px 5px 5px 0px;
	        border-radius: 0px 5px 5px 0px;
}

.jsmart5_button_%s_group_vertical {
	margin: -2px 0px 0px -2px;
	display: inline-block;
    position: relative;
    vertical-align: middle;
}

.jsmart5_button_%s_group_vertical>button {
	width: 100%;
	margin-top: -3px;
	float: none;
	display: block;
}

.jsmart5_button_%s_group_vertical>button:first-child {
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px;
}

.jsmart5_button_%s_group_vertical>button:last-child {
	-webkit-border-radius: 0px 0px 5px 5px;
	   -moz-border-radius: 0px 0px 5px 5px;
	        border-radius: 0px 0px 5px 5px;
}

.jsmart5_list_%s {
	display: inline-block;
	position: relative;
	text-align: left;
	line-height: 1.8;
	list-style-type: none;
	counter-reset: li-counter;
}

ul.jsmart5_list_%s, dl.jsmart5_list_%s {
	margin: 0px;
	padding: 0px;
	list-style: none outside none;
	border: 1px solid #a3a3a3;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	-ms-border-radius: 4px;
    	    border-radius: 4px;
}

dl.jsmart5_list_%s {
	border: none;
}

.jsmart5_list_%s_row {
	height: 28px;
	display: table;
	width: 250px;
	position: relative;
	padding: 5px 5px 3px 5px;
}

.jsmart5_list_%s_row_badge {
	background-color: #a3a3a3;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    float: right;
    font-size: 12px;
    line-height: 0.8;
    margin-right: 5px;
    margin-top: 8px;
    min-width: 10px;
    padding: 2px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

ul.jsmart5_list_%s>li, dl.jsmart5_list_%s>dd {
	display: block;
}

ul.jsmart5_list_%s>li:last-child, dl.jsmart5_list_%s>dd {
	border-bottom: none;
}

ol.jsmart5_list_%s>li:before {
	position: absolute;
	top: 0.7em;
	left: -2.3em;
	width: 1.3em;
	height: 1.3em;
	border-radius: 50%;
	color: @font@;
	background-color: @bckg@;
	content: counter(li-counter);
	counter-increment: li-counter;
	text-align: center;
	line-height: 1.2em;
	font-size: 13px;
}

.jsmart5_list_%s>dt {
	color: @font@;
	background-color: @bckg@;
	padding: 2px 10px;
	line-height: 1.2;
	border: 1px solid @border@;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	-ms-border-radius: 4px;
    	    border-radius: 4px;
}

dl.jsmart5_list_%s>dd {
	margin: 0px;
}

ul.jsmart5_list_%s>li, .jsmart5_list_%s>dd {
	border-bottom: 1px solid @bordersoft@;
}

.jsmart5_list_%s>li[select=true]:hover, .jsmart5_list_%s>dd[select=true]:hover {
	background-color: @bckghover@;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	-ms-border-radius: 4px;
    	    border-radius: 4px;
}

.jsmart5_panel_%s {
	width: 400px;
	border: 1px solid @border@;
	background: @bckgsoft@;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
	        border-radius: 5px;
}

.jsmart5_panel_%s_header {
	height: 30px;
	padding: 4px 10px 0 8px;
	line-height: 1.5;
	font-size: 15px;
	cursor: pointer;
	color: @font@;
	border-bottom: 1px solid @border@; 
    background-color: @bckg@;
}

.jsmart5_panel_%s_header>div {
	width: 0; 
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid @arrow@;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.jsmart5_panel_%s_header>div[closed=true] {
	border-top: 5px solid transparent;
	border-left: 5px solid @arrow@;
	border-bottom: 5px solid transparent;
	border-right: 0px;
}

.jsmart5_panel_%s_content {
	padding: 10px;
	border: 0px;
}

.jsmart5_switch_%s_container {
	height: 30px;
	width: 80px;
	padding: 0px;
	display: inline-block;
	position: relative;
	text-align: left;
	border: solid 1px #a3a3a3;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
			border-radius: 5px;
}

.jsmart5_switch_%s_span_on, .jsmart5_switch_%s_span_on_disabled, .jsmart5_switch_%s_span_off, .jsmart5_switch_%s_span_off_disabled {
	position: absolute;
	top: 0px;
	text-align: center;
	overflow: hidden;
	border-width: 0;
	font-size: 14px;
	height: 100%;
	width: auto;
	line-height: 2.0;
	text-indent: -2em;
	white-space: nowrap;
	background-color: #ffffff;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.jsmart5_switch_%s_span_off, .jsmart5_switch_%s_span_off_disabled {
	text-indent: 2em;
	background-color: #f9f9f9;
}

.jsmart5_switch_%s_span_on_disabled, .jsmart5_switch_%s_span_off_disabled {
	background-color: #f9f9f9;
}

.jsmart5_switch_%s_button, .jsmart5_switch_%s_button_disabled {
	position: relative;
	width: 30px;
	height: 26px;
	margin: 1px;
	cursor: pointer;
	background-color: @bckg@;
    border: 1px solid @border@;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
	        border-radius: 5px;
}

.jsmart5_switch_%s_button_disabled {
	cursor: default;
	border: solid 1px @borderdisabled@;
	background-color: @bckgdisabled@;
}

.jsmart5_balloon_%s {
	padding: 10px;
	color: @fontstrong@;
	border: solid 2px @border@;
	background-color: @bckgsoft@;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		    border-radius: 5px;
}

.jsmart5_date_%s {
	width: 17em;
	padding: .2em .2em 0; 
	display: none; 
	z-index: 1003;
	border: 1px solid #a3a3a3;
	background-color: @bckgsoft@; 
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;
}

.jsmart5_date_%s table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}

.jsmart5_date_%s th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.jsmart5_date_%s td {
	border: 0px;
	padding: 1px;
	background: none;
}

.jsmart5_date_%s td span, .jsmart5_date_%s td a {
	display: block;
	padding: .2em;
	text-align: right; 
	text-decoration: none;
}

.jsmart5_date_%s_multi {
	width: auto;
}

.jsmart5_date_%s_multi .jsmart5_date_%s_group { 
	float: left; 
}

.jsmart5_date_%s_multi .jsmart5_date_%s_group table {
	width: 95%;
	margin: 0 auto .4em;
}

.jsmart5_date_%s_multi_2 .jsmart5_date_%s_group {
	width: 50%;
}

.jsmart5_date_%s_multi_3 .jsmart5_date_%s_group {
	width: 33.3%;
}

.jsmart5_date_%s_multi_4 .ui-datepicker_group {
	width: 25%;
}

.jsmart5_date_%s_image {	
    width: 28px;
    height: 25px;
	border: none;
    margin-left: 5px;
	background: url('@image@') no-repeat;
	background-position: -24px -2px;
	cursor: pointer;
	vertical-align: middle;
}

.jsmart5_date_%s_current_day {
	color: @font@ !important;
}

.jsmart5_date_%s_current_day>a {
	background-color: @bckg@ !important;
	border: 1px solid @border@;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;
}

.jsmart5_date_%s_header {
	position: relative; 
	padding: .2em 0;
	border: 1px solid @border@;
    background-color: @bckg@;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;
}

.jsmart5_date_%s_group .jsmart5_date_%s_header {
	margin-right: 4px;
}

.jsmart5_date_%s_group_last .jsmart5_date_%s_header {
	margin-right: 0px;
}

.jsmart5_date_%s_title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center; 
}

.jsmart5_date_%s_title span {
	color: @font@;
}

.jsmart5_date_%s_title select {
	padding: 0px 8px;
	margin: 0px 4px;
	width: 39%;
	height: 25px;
	line-height: 22px; 
	color: inherit;
	background: #f9f9f9 url('img/enable_select.png') right center no-repeat;
	font: inherit;
	text-align: left;
	text-indent: 0.01px; /* Removes default arrow from firefox */
    text-overflow: '';  /* Removes default arrow from firefox */
	border: none;
	-webkit-border-radius: 4px;
  	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	   	-ms-appearance: none;
	   		appearance: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	   		box-shadow: none;
}

.jsmart5_date_%s_title select[disabled="disabled"] {
	background: #f9f9f9 url('img/disable_select.png') right center no-repeat;
}

.jsmart5_date_%s_title select:focus {
	background: #ffffff url('img/enable_select.png') right center no-repeat;
	outline: none;
}

.jsmart5_date_%s_title select::-ms-expand {
	display: none; /* Removes default arrow from ie */
}

.jsmart5_date_%s_month, .jsmart5_date_%s_year {
	width: 49%;
}

.jsmart5_date_%s_today, .jsmart5_date_%s_today>a {
	background-color: @bckghover@;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;
}

.jsmart5_date_%s td>a {
	color: inherit;
}

.jsmart5_date_%s td>a:hover {
	color: @font@;
	background-color: @bckg@;
	border: 1px solid @border@;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;
}

.jsmart5_date_%s_prev, .jsmart5_date_%s_next {
	position: absolute;
	top: 2px; 
	width: 1.8em;
	height: 1.8em;
}

.jsmart5_date_%s_prev>div {
	width: 0px; 
	height: 0px; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-right: 7px solid @arrow@;
	margin-top: 8px;
	margin-left: 8px;
}

.jsmart5_date_%s_next>div {
 	width: 0px; 
	height: 0px; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-left: 7px solid @arrow@;
	margin-top: 8px;
	margin-left: 13px;
}

.jsmart5_date_%s_prev:hover, .jsmart5_date_%s_next:hover {
	cursor: pointer;
	top: 1px;
}

.jsmart5_date_%s_prev {
	left: 2px;
}

.jsmart5_date_%s_prev:hover {
	left: 1px;
}

.jsmart5_date_%s_next {
	right: 2px;
}

.jsmart5_date_%s_next:hover {
	right: 1px;
}

.jsmart5_date_%s_week_col {
	
}

.jsmart5_date_%s_week_end {
		
}

.jsmart5_date_%s_other_month {
	
}

.jsmart5_date_%s_row_break {
	clear: both;
	width: 100%;
	font-size: 0em;
}

.jsmart5_date_%s_cover {
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
}

.jsmart5_keypad_%s_trigger {
	width: 44px;
	height: 25px;
	margin-left: 5px;
	border: none;
	vertical-align: middle;
	background: url('@image@') no-repeat;
	background-position: -10px -29px;
	cursor: pointer;
}

.jsmart5_keypad_%s_popup, .jsmart5_keypad_%s_inline, .jsmart5_keypad_%s_key, .jsmart5_keypad_%s_special {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}

.jsmart5_keypad_%s_popup {
	display: none;
	z-index: 9999;
	padding: 10px;
	color: #000000;
	border: 1px solid #a3a3a3;
	background-color: @bckgsoft@;
	-webkit-border-radius: .25em;
	   -moz-border-radius: .25em;
		    border-radius: .25em;
}

.jsmart5_keypad_%s_keyentry {
	display: none;
}

.jsmart5_keypad_%s_inline {
	padding: 10px;
	border: 1px solid #a3a3a3;
	background-color: @bckgsoft@;
	-webkit-border-radius: .25em;
	   -moz-border-radius: .25em;
		    border-radius: .25em;
}

.jsmart5_keypad_%s_disabled {
	position: absolute;
	z-index: 100;
	opacity: 0.5;
	background-color: @bckgdisabled@;
	filter: alpha(opacity=50);
}

.jsmart5_keypad_%s_rtl {
	direction: rtl;
}

.jsmart5_keypad_%s_row {
	width: auto;
}

.jsmart5_keypad_%s_space {
	display: inline-block;
	margin: 2px;
	width: 29px;
}

.jsmart5_keypad_%s_half_space {
	display: inline-block;
	margin: 2px;
	width: 14px;
}

.jsmart5_keypad_%s_key, .jsmart5_keypad_%s_special, .jsmart5_keypad_%s_tab {
	padding: 0px;
	width: 29px;
	margin: 2px;
	height: 29px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #a3a3a3;
	background-color: #f9f9f9;
	-webkit-border-radius: 0.25em;
	   -moz-border-radius: 0.25em;
		    border-radius: 0.25em;
}

.jsmart5_keypad_%s_key:hover, .jsmart5_keypad_%s_special:hover, .jsmart5_keypad_%s_tab:hover {
	color: @font@;
	background-color: @bckg@;
    border: 1px solid @border@;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.jsmart5_keypad_%s_key:active, .jsmart5_keypad_%s_special:active, .jsmart5_keypad_%s_tab:active {
	border: 1px solid @border@;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.jsmart5_keypad_%s_key[disabled] {

}

.jsmart5_keypad_%s_keydown {

}

.jsmart5_keypad_%s_special {
	width: 56px;
}

.jsmart5_keypad_%s_spacebar {
	border: 1px solid #a3a3a3;
	width: 190px;
}

.jsmart5_keypad_%s_clear, .jsmart5_keypad_%s_back, .jsmart5_keypad_%s_close, .jsmart5_keypad_%s_shift {

}

.jsmart5_progress_%s_container {
	width: 370px;
	height: 28px;
	position: relative;
}

.jsmart5_progress_%s_frame {
	width: 300px;
	height: 22px;
	padding: 1px;
	padding-right: 3px;
	padding-bottom: 3px;
	overflow: hidden;
	text-align: left;
	float: left;
	position: relative;
	border: solid 1px #a3a3a3;
	background: #ffffff;
	-webkit-border-radius: 4px;
  	   -moz-border-radius: 4px;
	   		border-radius: 4px;
}

.jsmart5_progress_%s_label {
	width: 100%;
	padding: 2px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	color: @font@;
}

.jsmart5_progress_%s_bar, .jsmart5_progress_%s_bar_disabled {
	width: 0px;
	height: 100%;
	background-color: @bckg@;
	border: 1px solid @border@;
	-webkit-border-radius: 4px;
  	   -moz-border-radius: 4px;
	   		border-radius: 4px;
}

.jsmart5_progress_%s_bar_disabled {
	border: 1px solid @bckgdisabled@;
	background-color: @bckgdisabled@;
}

.jsmart5_progress_%s_percent {
	line-height: 25px;
	padding-left: 5px;
}

.jsmart5_range_%s_container {
	width: 360px;
	height: 26px;
	position: relative;
}

.jsmart5_range_%s_frame {
	width: 300px;
	height: 22px;
	padding: 2px;
	padding-right: 12px;
	overflow: hidden;
	text-align: left;
	float: left;
	position: relative;
}

.jsmart5_range_%s_trail {
	width: 100%;
	height: 4px;
	margin-top: 8px;
	margin-left: 2px;
	background: #f4f4f4;
	border: solid 1px #a3a3a3;
	position: relative;
	float: left;
	-webkit-border-radius: 1px;
  	   -moz-border-radius: 1px;
	   		border-radius: 1px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	   		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

 .jsmart5_range_%s_bar, .jsmart5_range_%s_bar_disabled {
	width: 10px;
	height: 100%;
	position: relative;
	background-color: @bckg@;
	border: 1px solid @border@;
	-webkit-border-radius: 4px;
  	   -moz-border-radius: 4px;
	   		border-radius: 4px;
}

.jsmart5_range_%s_bar_disabled {
	border: 1px solid @borderdisabled@;
	background-color: @bckgdisabled@;
}

.jsmart5_range_%s_value {
	line-height: 25px;
	padding-left: 5px;
}

.jsmart5_dialog_%s {
	width: 300px;
	border: 1px solid #a3a3a3;
	position: absolute;
	padding: .2em;
	overflow: hidden;
	background-color: @bckgsoft@;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	    	border-radius: 4px;
}

.jsmart5_dialog_%s_titlebar {
	position: relative;
	height: 1.4em;
    padding: .5em 1em;
	border: 1px solid @border@;
	font-size: 15px;
	color: @font@;
	vertical-align: top;
	background-color: @bckg@;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	        border-radius: 4px;
}

.jsmart5_dialog_%s_title {
	float: left;
	margin: 0px;
}

.jsmart5_dialog_%s_titlebar_close {
	position: absolute;
	right: .3em;
	top: 50%;
	min-width: 19px;
	height: 18px;
	margin: -10px 0 0 0;
	padding: 1px;
	cursor: pointer;
	color: @font@;
	background: url('@image@') no-repeat;
	background-position: -2px -4px;
}

.jsmart5_dialog_%s_titlebar_close:hover, .jsmart5_dialog_%s_titlebar_close:focus {
	padding: 0px;
}

.jsmart5_dialog_%s_content {
	border: none;
	position: relative;
	padding: .5em 1em;
	background: @bckgsoft@;
	overflow: auto;
	zoom: 1;
}

.jsmart5_dialog_%s_dragging {
	cursor: move;
}

.jsmart5_dialog_%s_resizing {
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px;
}

.jsmart5_dialog_%s_disabled {
	
}
